.panel.panel-default
  .panel-body
    - if @bills.empty?
      %p.bills You have no bills.
    - else
      .bills
        - @bills.group_by { |b| b.due_date.month }.each do |month, bills|
          .row
            .col-md-12
              - if month == DateTime.now.month
                %h4 This month
              - else
                %h4= Date::MONTHNAMES[month]
          - bills.each do |bill|
            .row
              .col-md-12
                .btn-group.hidden-xs.bill
                  %a.btn.btn-primary.pay{ href: "/bills/pay/#{bill.id}" } Pay

                .name
                  %strong= bill.name
                .due= bill.due_date.strftime('%B %-d')
                .days-left= bill.days_left

                .btn-group.visible-xs.bill
                  %a.btn.btn-primary.pay.btn-block{ href: "/bills/pay/#{bill.id}" } Pay
