= form_for @bill do |f|
  - if @bill.errors.any?
    .alert.alert-danger{ role: 'alert' }
      %ul.errors
        - @bill.errors.full_messages.each do |msg|
          %li= msg

  .panel.panel-default
    .panel-body
      .form-group
        = f.label :name, class: 'control-label'
        = f.text_field :name, class: 'form-control', autofocus: true

      .form-group
        = f.label :next_due_date, class: 'control-label'
        = f.date_select :due_date, { discard_year: true }, { class: 'form-control' }

      .form-group
        = link_to 'Cancel', bills_path, class: 'btn btn-default'
        = f.submit 'Add', class: 'btn btn-primary'
